.vindow {
    background: white;
    border: 1px solid #444;
    box-shadow: 0px 0px 2px #555;
    overflow: hidden;
    position: absolute;
}

.vindow .header {
    /* background: #409; */
    background: #444;
    color: white;
    cursor: move;
    padding: 1px;
}

.vindow .header .title {
    padding: 1px;
}

.vindow .toolbar {
    padding: 3px;
    border-bottom: 1px solid #bbb;
}

.vindow .pane {
    max-height: 75vh;
    padding: 2px;
    overflow: scroll;
    /*resize: both;*/
}

.vindow .btn-exit {
    border-radius: 0;
    color: black;
    padding: 0;
}

.vindow .resizer {
    /*  background-color: red; */
    background-color: transparent;
    position: absolute;
    width: 10px;
    height: 10px;
}

.vindow .resizer.bottom-left {
    cursor: sw-resize;
    bottom: 0;
    left: 0;
}

.vindow .resizer.top-left {
    cursor: nw-resize;
    top: 0;
    left: 0;
}

.vindow .resizer.top-right {
    cursor: ne-resize;
    top: 0;
    right: 0;
}

.vindow .resizer.bottom-right {
    cursor: se-resize;
    bottom: 0;
    right: 0;
}