.vindow {
    background: white;
    border: 1px solid #444;
    box-shadow: 0px 0px 2px #555;
    overflow: hidden;
    position: absolute;
}

.vindow .header {
    /* background: #409; */
    background: #444;
    color: white;
    cursor: move;
    padding: 1px;
}

.vindow .header .title {
    padding: 1px;
}

.vindow .toolbar {
    padding: 3px;
    border-bottom: 1px solid #bbb;
}

.vindow .pane {
    max-height: 75vh;
    padding: 2px;
    overflow: scroll;
    /*resize: both;*/
}

.vindow .btn-exit {
    border-radius: 0;
    color: black;
    padding: 0;
}

.vindow .resizer {
    /*  background-color: red; */
    background-color: transparent;
    position: absolute;
    width: 10px;
    height: 10px;
}

.vindow .resizer.bottom-left {
    cursor: nesw-resize;
    bottom: 0;
    left: 0;
}

.vindow .resizer.top-left {
    cursor: nwse-resize;
    top: 0;
    left: 0;
}

.vindow .resizer.top-right {
    cursor: nesw-resize;
    top: 0;
    right: 0;
}

.vindow .resizer.bottom-right {
    cursor: nwse-resize;
    bottom: 0;
    right: 0;
}

.vindow .resizer.top,
.vindow .resizer.bottom {
    cursor: ns-resize;
    left: 10px;
    right: 10px;
    width: calc(100% - 20px);
}

.vindow .resizer.bottom {
    bottom: 0;
}

.vindow .resizer.top {
    top: 0;
}

.vindow .resizer.left,
.vindow .resizer.right {
    top: 10px;
    bottom: 10px;
    height: calc(100% - 20px);
    cursor: ew-resize;
}

.vindow .resizer.left {
    left: 0;
}

.vindow .resizer.right {
    right: 0;
}